<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <title>TravelDiary</title>

</head>

<body>
    <div id="login">
        
    <h1><img src="/iconspace"></h1>

    <h1><img src="../images/application name/Travel.png"></h1>
    
    <h1><button id="googlebutton"><img src="../images/google_signin_buttons/web/2x/weuse.png" width="250" height="50" alt="google"><a href="google"></a></button></h1>
    <h1><button id="kakaobutton"><img src="../images/kakao_login/ko/kakao_login_large_wide.png" width="250" height="50" alt="kakao"><a href="kakao"></a></button></h1>
    <h1><button id="naverbutton"><img src="../../Coloring_Diary/NaverButton/naveruse.PNG" width="250" height="50" alt="naver"><a href="naver"></a></button></h1>
</div>
</body>

</html>